<!doctype html>
<html ng-app="myapp" ng-csp>
    <head>
        <title>Spiffo - Control Panel</title>
        <link rel="stylesheet" href="control_panel.css"/>
        <script src="angular.min.js"></script>
        <script src="pinecone.js"></script>
        <script src="spiffo.js"></script>
        <script src="tombstone.js"></script>
        <script src="tab_control.js"></script>
    </head>
    <body>
        <div class="panel">
            <h5 class="window-title">Bean Nuts Walnut Trident Spiffo - Control Panel</h5>

            <div class="section" ng-controller="tombstoneController" id="tombstone">
                <h5>Tombstone</h5>
                <div class="button-row">
                    <div class="button-group">
                        <input type="button" ng-click="Spiffo.fnGetTabsInfos();" value="Seal all wins/tabs"/>

                        <input type="button" ng-click="Spiffo.fnGetCurrentWinTabsInfos();" value="Seal tabs in current win"/>
                    </div>

                    <div class="button-side">
                        <input type="button" ng-click="Spiffo.fnSpawnTabsFromInfos();" value="Resurrect"/>
                    </div>
                </div>
                <label class="cookie-option">
                    <span>Include cookies for sealed tabs</span>
                    <input type="checkbox" ng-model="includeCookies"/>
                    <span class="switch-track"></span>
                </label>

                <textarea id="tabsTombArea" class="tombstone-area">{{tabsInfo}}</textarea>
            </div>

            <div class="section" ng-controller="tabControlController" id="tabControl">
                <h5>Rename Title</h5>
                <textarea id="title-editor" class="title-area">{{currentTabTitle}}</textarea>
                <input type="button" value="Rename this" ng-click="Spiffo.tabControl.fnRenameThis(false);"/>

                <input type="button" ng-if="!titleIsLocked" value="Lock title" ng-click="Spiffo.tabControl.fnSetLockTitleStatus(true, false);"
                       alt="Lock this title, preventing unexpected dom-update."
                />
                <input type="button" ng-if="titleIsLocked" value="Unlock title" ng-click="Spiffo.tabControl.fnSetLockTitleStatus(false, false);"/>

                <input type="button" ng-if="!titleIsLockedAppend" value="Lock Append" ng-click="Spiffo.tabControl.fnSetLockTitleStatus(true, true);"
                       alt="Lock this title, preventing unexpected dom-update."
                />
                <input type="button" ng-if="titleIsLockedAppend" value="Unlock Append" ng-click="Spiffo.tabControl.fnSetLockTitleStatus(false, false);"/>

                <div class="content-editable-row">
                    <strong>ContentEditable</strong>
                    <button class="switch-button" type="button" ng-if="!bodyContentEditable" title="Enable" ng-click="Spiffo.tabControl.setContentEditableStatus(true);"></button>
                    <button class="switch-button switch-button-on" type="button" ng-if="bodyContentEditable" title="Disable" ng-click="Spiffo.tabControl.setContentEditableStatus(false);"></button>
                </div>
            </div>

            <h5 class="footer">by <a href="https://www.dragonking.cn" target="_blank">Dragon King</a></h5>
        </div>
    </body>
</html>
